<!--
This is the view for viewing the questions of a given competency. It relies on
the filter partial to display the filtered questions and the add_new partail to
add new questions to the system.
-->

<h1 class="pds-color-font">Questions for: <%= @competency.name %> Assessment</h1>

<%= render 'filter' %>

<%= render 'add_new' %>

<br>

<%= render 'partials/tooltip' %>