<!--
This acts as the progress bar for the questions. Local ruby variables:
- position: question number
- count: total number of questions
-->

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:" << (((position-1).to_f/count.to_f)*100).ceil.to_s << "%" %>>
    <%= (((position-1).to_f/count.to_f)*100).ceil.to_s << "%" %>
  </div>
</div>