<h1 class="pds-blue-color">Choose an Assessment</h1>
<%= form_tag(take_assessment_path, method: :get) do %>
  <%= select_tag :competency_id, options_from_collection_for_select(@competencies, 'id', 'name'), {include_blank: 'None'} %>
  <%= submit_tag "Next", :name => nil, :class => "btn btn-default pds-blue-color-background-light white-text" %>
<% end %>