<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step"><a class="active" href="#" style="z-index:9;">Select Competency</a></li>
        <li><a href="#" style="z-index:8;">Assessment Questions</a></li>
        <li><a href="#" style="z-index:7;">View Results</a></li>
    </ul>
</div>
<br>



<h1 class="pds-blue-color">Choose an Assessment</h1>
<%= form_tag(take_assessment_path, method: :get) do %>
  <%= select_tag :competency_id, options_from_collection_for_select(@competencies, 'id', 'name'), {include_blank: 'None'} %>
  <%= submit_tag "Next", :name => nil, :class => "btn btn-default btn-xs pds-color-background-light white-text" %>
<% end %>