<!--
This view presents the analysis of an assessment. It relies on the report_table
partial. Local ruby variables:
- @competency: the assessed competency
- @competent: the set of questions deemed competent by the questions analysis
- @developing: the set of questions deemed developing by the questions analysis
- @emerging: the set of questions deemed emerging by the questions analysis
-->


<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step"><a href="#" style="z-index:9;">Select Competency</a></li>
        <li class="finished-step"><a href="#" style="z-index:8;">Assessment Questions</a></li>
        <li class="finished-step"><a href="#" style="z-index:7;">View Results</a></li>
    </ul>
</div>
<br>




<h1 class="pds-blue-color">Assessment Report: <%= @competency.name %></h1>
<br/>

<%= render 'report_table', {table_header: "Based on your repsonses to the assessment, you demonstrate competence in the following areas:", questions: @competent} %>
<br/>
<%= render 'report_table', {table_header: "Based on your repsonses to the assessment, you are developing competence in the following areas:", questions: @developing} %>
<br/>
<%= render 'report_table', {table_header: "Based on your repsonses to the assessment, your competence is emerging in the following areas:", questions: @emerging} %>