<h1 class="pds-blue-color">Instructions for Completing the Assessment</h1>

<p>To complete the assessment, read each statement and identify the extent to which you believe you 

exhibit the given behavior: Always, Often, Sometimes, Rarely, Never, or Not Applicable.  Once you have 

selected your response click “Submit” to move on to the next question.  Please note: once you have 

submitted your response to a question you cannot go back and change your answer for a previous 

question.</p>

<p>Once you have completed all of the questions in the self-assessment you will be taken to your 

personalized results page where you can view areas of mastery and opportunities for continued 

development.  The results page will also provide you with a list of resources that will help you develop in 

each of the areas identified.  To save your results and personalized plan you MUST export the report to a 

PDF file.  Please note: the system will NOT save your results to be viewed at a later time.</p>
<br><br>
<p><i>This self-assessment was developed by Professional Development Services at Carnegie Mellon University and is 

intended only for the use and professional development of the individual completing the assessment.  Results are 

based on the Professional Development Services Competency Model and are reflective of the individual’s self-

reported behaviors in a given competency area.  This self-assessment should not be used for formal evaluation 

purposes and is not a definitive determination of an individual’s performance in any given competency area.</i></p>

<a href="/assessments/choose" class="btn btn-default pds-blue-color-background-light pull-right white-text">Get Started</a>