<h1 class="pds-color-font">Administrator Dashboard</h1>
<p>Welcome to Professional Development Services' administrator dashboard.</p>
<h2 class="pds-color-font">Manage Competencies</h2>
<p>To manage the competencies in the system, click on the "Manage a Competency" button in the navigation bar. There, you can create and edit competencies.</p>
<h2 class="pds-color-font">Manage Resources</h2>
<p>To manage the resources in the system, click on the "Manage a Resource" button in the navigation bar. There, you can view and edit all the resources in the system, as well as create new resources.</p>
<h2 class="pds-color-font">Manage Assessments</h2>
<p>To manage the assessments in the system, click on the "Manage the Assessment" button in the navigation bar. There, you can view and edit all the current assessments in the system, as well as create a new assessment.</p>