<h1 class="pds-blue-color-font">Welcome!</h1>
<p>Welcome to the Professional Development Services Competency Assessment portal.  This tool allows 

you to explore your competency in ten areas of performance by completing a self-assessment and 

generating a personalized development plan.  Whether you wish to examine your competency in one 

area or all ten, you will be provided with personalized results and related resources that will help you 

develop your competency and maximize your performance.</p>

<p>Each competency is assessed individually.  You may complete a self-assessment in any of the ten 

competency areas and may re-take an assessment as many times as you wish. Once you have completed 

the self-assessment in any competency you will be provided with personalized results and resources for 

continued development.  To save your results and personalized plan you MUST export the report to a 

PDF file.  Please note: the system will NOT save your results to be viewed at a later time.</p>

<p>If you have any questions about the assessment please contact 

<a href="mailto:professionaldevelopment@andrew.cmu.edu">professionaldevelopment@andrew.cmu.edu</a>.</p>  

<p><small>This self-assessment was developed by Professional Development Services at Carnegie Mellon University and is 

intended only for the use and professional development of the individual completing the assessment.  Results are 

based on the Professional Development Services Competency Model and are reflective of the individual’s self-

reported behaviors in a given competency area.  This self-assessment should not be used for formal evaluation 

purposes and is not a definitive determination of an individual’s performance in any given competency area.</small></p>
<br/>