<div class="row">
    <div class="form-group col-xs-12">
      <!-- x icon to remove -->
      <%= f.link_to_remove("x") %>
      <!-- fields -->
      <%= f.collection_select :indicator_description, @competency.indicators, :description, :description, :prompt => "Select indicator..." %>
      <%= f.collection_select :resource_id, Resource.active.all, :id, :name, :prompt => "Select resource..." %>
    </div>
  </div>