<%= simple_fields_for :indicators do |indicator_form| %>
	<%= render :partial => "indicator_fields", :locals => { :f => indicator_form } %>
	<% end %> 
	<p>
	<br /><%= town_form.link_to_add("Add indicator", :indicators, :class => 'button tiny') %>
	</p>