<form action="#">
    <label>Choose indicators file</label>
    <input type="file" class="btn btn-xs"></input>
    <label>Choose resources file</label>
    <input type="file" class="btn btn-xs"></input>
    <label>Choose relationships file</label>
    <input type="file" class="btn btn-xs"></input>
    <input type="submit" class="btn btn-xs pds-color-background-light white-text" value="Upload"></input>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Templates</h3>
  </div>
  <div class="panel-body">
    The CSV files you upload need to follow a certain format. If you need the templates, download them here:
    <form method="get" action="../public/Indicators_Template.csv">
        <button type="submit">Indicators Template</button>
    </form>
  </div>
</div>