<!--
This partial is the beginning of the manual form for creating a competency. It
just submits the name of the competency.
 -->
<div class="row">
  <div class="col-xs-3">
    <h2 class="pds-color-font">Create a Competency</h2>
  </div>
  <div class="col-xs-9">
    <%= simple_nested_form_for @competency, :html => { :class => 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.input :name, :class => "control-label" %>
      </div>
      <div class="form-group inline">
        <%= f.submit nil, :class => 'btn btn-xs pds-color-background-light white-text' %>
      </div>
      <div class="inline">
          <a href="#" data-toggle="tooltip" data-placement="right" title="Create a competency manually building from competency name, indicators, and resources step by step."><%= image_tag("tooltip.png", :alt => "Hint", class: "tool-tip-img") %></a>
        </div>

    <% end %>
  </div>
</div>