<div class="row">
    <div class="col-xs-4">
        <div class="text-center">
            <h2>Step 1:</h2><h3>Select a Competency</h3>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <h2>Step 2:</h2><h3>Select a Level</h3>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <h2>Step 3:</h2><h3>View Indicators and Resources</h3>
        </div>
    </div>
</div>