<!-- This partial describes the steps for the process flow method. -->

<div class="row">
    <div class="col-xs-4">
        <div class="text-center border-right">
            <h2>Step 1:</h2><h3>Select a Competency</h3>
            <div class="jumbotron">
                Select a competency from the dropdown, then select next
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center border-right">
            <h2>Step 2:</h2><h3>Select a Level</h3>
            <div class="jumbotron">
                Select a level for that competency, then select next
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <h2>Step 3:</h2><h3>View Indicators</h3>
            <div class="jumbotron">
                View the indicators, and click an indicator to view its resources
            </div>
        </div>
    </div>
</div>