<h1>Select a Competency</h1>

<table>
  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= competency.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<!-- Selection Dropdown menu for choosing a Competency -->

<select class="form-control" id="select_competency" name="competency_id" onchange="save_competency_obj()">
  <option selected="selected">Select a Competency</option>
  <%= @competencies.each do |competency| %>
    <option ><%= competency.name %></option>
  <% end %>
</select>
<%= link_to 'Next', view_all_level_step_path(:competency_id => 8) %>



<script>
function save_competency_obj() {
  var selected_competency = $('#select_competency').find(":selected");
  console.log(select_competency);
}
</script>

