<!-- Custom Breadcrumbs -->
<div id="custom-breadcrumb">
    <ul class="crumbs">
        <li class="first finished-step"><a class="active" href="#" style="z-index:9;">Select Competency</a></li>
        <li><a href="#" style="z-index:8;">Select Level</a></li>
        <li><a href="#" style="z-index:7;">Indicators & Resources</a></li>
    </ul>
</div>
<br>

<h1 class="pds-color-font">Select a Competency</h1>

<button type="button" id="tooltip1" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>



<br>

<!-- Selection Dropdown menu for choosing a Competency -->
<%= form_tag(view_all_level_step_path, method: :get) do %>
  <%= select_tag :competency_id, options_from_collection_for_select(@competencies, 'id', 'name'), {include_blank: 'None'} %>
  <%= submit_tag "Next", :name => nil, :class => "btn btn-default btn-xs pds-color-background-light white-text" %>
<% end %>

<script>
$( "#tooltip1" ).tooltip();
</script>




