<h1>Select a Competency</h1>

<table>
  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= competency.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <h2>Form control: select</h2>
  <p>The form below contains two dropdown menus (select lists):</p>
  <form role="form">
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <%= @competencies.each do |competency| %>
          <option><%= competency.name %></option>
        <% end %>
      </select>
    </div>
  </form>
</div>