<h1 class="pds-color-font">View All Process Flow</h1>

<p> The index first page of the View All process flow.</p>

<%= link_to 'Start View All', view_all_competency_step_path, :class => "btn btn-default btn-xs pds-color-background-light white-text"%>

<hr class="div-divider pds-color-background" />

<%= render 'workflow' %>
