<h1 class="pds-color-font">View All Index</h1>


<hr style="color: darkgrey;">
<div class="row">
    <div class="col-xs-12">

    	<h3>Process Flow</h3>

    	<p>Insert descriptive text</p>
        <%= link_to 'View All Process Flow', view_all_process_flow_path, :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>

    </div>
</div>
<div class="row divider-group">
    <table width="100%">
        <tr>
            <td><hr class="div-divider pds-color-background"/></td>
            <td style="width:1px; padding: 0 10px; white-space: nowrap;" class="pds-color-font">OR</td>
            <td><hr class="div-divider pds-color-background"/></td>
        </tr>
    </table>​
</div>
<br>
<div class="row">
    <div class="col-xs-12">
    	<h3>Report Format</h3>

    	<p>Insert descriptive text</p>

        <%= link_to 'View All Report Format', view_all_report_format_path, :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>
    </div>
</div>
