<h1 class="pds-color-font">View All Index</h1>


<hr class="div-divider pds-color-background" />


<%= link_to 'View All Process Flow', view_all_process_flow_path, :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>


<%= link_to 'View All Report Format', view_all_report_format_path, :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>
