<h1 class="pds-color-font">View All Process Flow</h1>

<p> Following the following steps to view a competency, its nested levels, and all associated indicators and resources.</p>

<hr class="div-divider pds-color-background" />

<%= render 'workflow' %>

<%= link_to 'Start View All', view_all_competency_step_path, :class => "btn btn-default btn-large pds-color-background-light white-text pull-right"%>
