<h1 class="pds-color-font">View All Resources</h1>
<%= link_to 'New Resource', new_resource_path, :class => "btn btn-default btn-xs pds-color-background-light white-text" %>

<%= render 'filter' %>

<br>
