<div id="competency_indicator_resources" class="form-group">
  <div class="row min_indicator">
    <!-- fields -->
    <%= f.input :level, collection: Indicator::LEVELS_LIST, include_blank: false, input_html: {class: "form-control col-xs-12"} %>
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control col-xs-9" %>
  </div>
</div>