/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min.css
 */

   .min_indicator {
      background-color: #d1ecfb;
      padding: 2px 2px 2px 5px;
      border: 1px solid blue;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      select { width: 180px; }
      input { width: 182px; }
  }

  /* Cutting back the spacing on simple_form... */
  .form-horizontal .min_indicator .control-label {
      float: left;
      padding-top: 3px;
      text-align: right;
      width: 60px;
      font-size: 90%;
  }
  .form-horizontal .min_indicator .controls {
      margin-left: 70px;
      width: 240px;
  }




/* Splash Logo Image  */ 
.banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}


/* Container for all page content */ 
.page-container {
  background-color: #F0EDE3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-color: #FFF;
}

.pds-color-font {
  color: rgb(108, 0, 0) !important
}

.pds-color-background {
  background-color: rgb(108, 0, 0) !important
}

.pds-color-font-light {
  color: rgb(179, 58, 58) !important
}

.pds-color-background-light {
  background-color: rgb(179, 58, 58) !important
}

.white-text {
  color: #FFF !important
}

/* Override to change table header text color */
.filterrific_sort_column {
  color: #FFF !important
}

.active-icon {
  margin: 0 auto !important
}

