/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min.css
 *= require bootstrap-table-expandable.css
 *= require jquery-ui-1.10.0.custom.css
 */

   .min_indicator {
      background-color: #e1e1e1;
      padding: 2px 2px 2px 5px;
      border: 1px solid black;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 1px;
      select { width: 180px; }
      input { width: 182px; }
  }

  /* Cutting back the spacing on simple_form... */
  .form-horizontal .min_indicator .control-label {
      float: left;
      padding-top: 3px;
      text-align: right;
      width: 60px;
      font-size: 90%;
  }
  .form-horizontal .min_indicator .controls {
      margin-left: 70px;
      width: 240px;
  }


.inline {
  display: inline-block;
}


/* Splash Logo Image  */ 
.banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.plaid-banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}


/* Container for all page content */ 
.page-container {
  background-color: #F0EDE3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-color: #FFF;
  padding: 40px;
}

/* Nav Bar */ 
#admin-navbar .active a {
  background-color: rgb(108, 0, 0)!important
}

#user-navbar .active a {
  background-color: rgb(7, 35, 110)!important
}


.navbar-inverse .navbar-nav>li>a {
  color: #FFF !important
}


/* Color palette custom for PDS and CMU web standards */ 

/* REDS */

.pds-color-font {
  color: rgb(108, 0, 0) !important
}

.pds-color-background {
  background-color: rgb(108, 0, 0) !important
}

.pds-color-font-light {
  color: rgb(179, 58, 58) !important
}

.pds-color-background-light {
  background-color: rgb(179, 58, 58) !important
}

.white-text {
  color: #FFF !important
}

/* BLUES */

.pds-blue-color {
  color: rgb(7, 35, 110) !important
}

.pds-blue-color-background {
  background-color: rgb(7, 35, 110) !important
}

.pds-blue-color-light {
  color: rgb(47, 104, 197) !important
}

.pds-blue-color-background-light {
  background-color: rgb(47, 104, 197) !important
}



/* Override to change table header text color */
.filterrific_sort_column {
  color: #FFF !important
}

.active-icon {
  margin: 0 auto !important
}

/* divider for divs */
.div-divider {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-div-divider {
  width: 100%;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.divider-group {
  height: 20px;
}

.border-right {
  padding-right: 30px;
  border-right: 2px solid rgb(108, 0, 0);
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.pointer {
  cursor: pointer;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip-img {
  width: 30px;
  height: auto;
}

#right-tooltip {
  float: right;
}

/* Question styling */
.question-content {
  font-size: 150%;
}

.question-divider {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}



